<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa</title>
    <th:block th:insert="~{/layout/layout::library}"/>
</head>
<body>
<div th:replace="~{/layout/layout::header}"></div>
<h1>Chỉnh sửa cầu thủ</h1>

<form th:action="@{/Cauthu/edit}" method="post" th:object="${cauThu}">
    <!-- Ẩn mã cầu thủ -->
    <input type="hidden" th:field="*{maCauThu}" />

    <p>
        <label>Họ Tên:</label><br/>
        <input th:field="*{hoTen}" />
    </p>

    <p>
        <label>Ngày Sinh:</label><br/>
        <input th:field="*{ngaySinh}" type="date" />
    </p>

    <p>
        <label>Kinh Nghiệm:</label><br/>
        <input th:field="*{kinhNghiem}" />
    </p>

    <p>
        <label>Vị Trí:</label><br/>
        <input th:field="*{viTri}" />
    </p>

    <p>
        <label>Ảnh đại diện :</label><br/>
        <input th:field="*{hinhAnh}" />
    </p>

    <p>
        <label>Giới tính:</label><br/>
        <input type="radio" th:field="*{gioiTinh}" value="true"/> Nam
        <input type="radio" th:field="*{gioiTinh}" value="false"/> Nữ
    </p>

    <p>
        <button type="submit">Cập nhật</button>
        <a th:href="@{/Cauthu}">Hủy</a>
    </p>
</form>
</body>
</html>
